<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707190494312-a015qc4q9q3vpo7d41cie7e56kcnf6qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707190494312-a015qc4q9q3vpo7d41cie7e56kcnf6qu</string>
	<key>API_KEY</key>
	<string>AIzaSyBvig2F-HV6YYGe0AHD7gveFO_JM6fspeA</string>
	<key>GCM_SENDER_ID</key>
	<string>707190494312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giorno.timerGroup</string>
	<key>PROJECT_ID</key>
	<string>sample-image-174ec</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-image-174ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707190494312:ios:1fe29aa8d9e7e947f4d7dd</string>
</dict>
</plist>