<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841727539515-pan9i8a24i0hn0fkqeiikerft0sgfg5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841727539515-pan9i8a24i0hn0fkqeiikerft0sgfg5l</string>
	<key>API_KEY</key>
	<string>AIzaSyCxF3dvH9Dx9pVqaXIhi799z_vG7xjCyFY</string>
	<key>GCM_SENDER_ID</key>
	<string>841727539515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giorno.timerGroup</string>
	<key>PROJECT_ID</key>
	<string>timergroup-204b1</string>
	<key>STORAGE_BUCKET</key>
	<string>timergroup-204b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841727539515:ios:457b1a1524176d94711f1e</string>
</dict>
</plist>